@using SkillUp.DataAccessLayer.Entities;
@using SkillUp.VMs.CoursesVMs;
@model CoursesDetailsVMs
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CourseDetails</title>
</head>
<body>
    
    <h1> @Model.Title</h1>
</body>
</html>
