@using SkillUp.VMs.RoleVMs
@model AssignRoleToUserVms
@{
    ViewData["Title"] = "Assign User To Role";
}
<div class="container mt-5">

<form asp-action="AssignRoleToUser" method="post">
    <div class="form-group">
        <label asp-for="userEmail">User Email</label>
        <input asp-for="userEmail" name="userEmail"class="form-control" id="userEmail" required />
    </div>
    <div class="form-group">
        <label asp-for="roleName">Role name</label>
            <input asp-for="roleName" class="from-control" id="roleName" name="roleName" required />
    </div>

    <button type="submit" class="btn btn-primary">Assign Role </button>
</form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
