@using SkillUp.VMs.User;
@model RolesVMs

@{
    ViewData["Title"] = "Assign User To Role";
}
<form asp-action="AssignUserRoles" method="post">
    <div class="form-group">
        <label asp-for="UserId">User</label>
        <select asp-for="UserId" asp-items="Model.Users" class="from-control"></select>
    </div><div class="form-group">
        <label asp-for="RoleId">role</label>
        <select asp-for="RoleId" asp-items="Model.Roles" class="from-control"></select>
    </div>

    <button type="submit" class="btn btn-success">Assign Role </button>
</form>
@if (TempData["SuccessMassage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMassage"]
    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}